<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312345132441-gf8cbb5bco9vc6pnb64boeharbah5140.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312345132441-gf8cbb5bco9vc6pnb64boeharbah5140</string>
	<key>API_KEY</key>
	<string>AIzaSyCoV7Sj4P2y1qNlRLMb1KwXUEO24zsEbvk</string>
	<key>GCM_SENDER_ID</key>
	<string>312345132441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.maisprazo</string>
	<key>PROJECT_ID</key>
	<string>suppliermais-654bc</string>
	<key>STORAGE_BUCKET</key>
	<string>suppliermais-654bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312345132441:ios:ad6285ee535e40d8836708</string>
	<key>DATABASE_URL</key>
	<string>https://suppliermais-654bc.firebaseio.com</string>
</dict>
</plist>